html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map_canvas {
    height: 100%;
}

#map_canvas img {
    max-width: none;
}

#addressSearch {
    position: fixed;
    right: 40px;
    top: 10px;
    border: 10px solid black;
}

#controlSwitchDiv {
    background-color: white;
    border-radius: 5px;
    position: fixed;
    right: 35%;
    bottom: 5%;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    border:1px solid black;
    z-index:999;
}

#geolocationSwitch{
    width:16px;
    height:16px;
    margin-bottom:7px;
}

#mapTypeSwitch{
    width:16px;
    height:16px;
    margin-bottom:7px;
}